body {
    background: url('../Images/IMG_3599.jpg');
    background-size: cover;
 }

.container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.background-image {
    width: 100%;
    height: auto; /* Adjust as needed */
    z-index: -1; /* Ensure the image stays behind the text */
}

.centered-text {
    position: absolute;
    top: 75%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.centered-text h1 {
    color: gold; /* Adjust text color */
    font-size: 36px; /* Adjust font size */
    /* Add any additional styling as needed */
}

.centered-text p {
    color: gold; /* Adjust text color */
    font-size: 25px; /* Adjust font size */
    /* Add any additional styling as needed */
}

.button {
    background-color: #ba1010;
    color: gold;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button:hover {
    background-color: blueviolet;
}

