body {
    background: url('../Images/5.jpg');
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    color: gold;
  }

